.form {
  margin-bottom: 20px;
}

.labelFormInput {
  display: block;
  margin-bottom: 16px;
  color: rgb(33, 14, 64);
}

.formInput {
  display: block;
  min-width: 300px;
  padding: 8px;
  outline: transparent;
  outline-offset: 2px;
  border: 1px solid rgba(33, 14, 64, 0.6);
  border-radius: 5px;
}

.formInput:active,
.formInput:focus {
  border-color: rgb(255, 194, 103);
}

.button {
  display: block;
  background-color: antiquewhite;
  color: rgb(57, 23, 112);
  font-weight: 600;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px 40px;
  box-shadow: 0 0.5px 3px rgba(33, 14, 64, 0.6);
}

.button:hover,
.button:focus {
  background-color: rgb(255, 194, 103);
  color: rgb(33, 14, 64);
}

.erros {
  color: rgb(255, 194, 103);
  font-size: 12px;
}
