.contactDiscription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  margin-right: 8px;
}

.button {
  display: block;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  max-height: 35px;
  background-color: antiquewhite;
  color: rgb(57, 23, 112);
  box-shadow: 0 0.5px 3px rgba(33, 14, 64, 0.6);
}

.button:hover,
.button:focus {
  background-color: rgb(255, 194, 103);
  color: rgb(33, 14, 64);
}
