.wrapperNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.navLink {
  font-weight: 600;
  color: rgb(33, 14, 64);
}
.active {
  color: rgb(255, 194, 103);
}
