.contacItem {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 1px solid rgb(33, 14, 64);
  border-radius: 5px;
  overflow: hidden;
  padding: 12px;
  box-shadow: 0 0.5px 3px rgba(33, 14, 64, 0.6);
}

.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
